table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  table th,
  table td {
    border: 1 solid #afafaf;
    padding: 8px;
    text-align: left;
  }
  table th {
    background-color: #2e2e2e;
    color: #dcdcdc;
}