{% extends 'base.html' %}

{% block title %} Lista de Produtos {% endblock title %}

{% block conteudo %}
    <h1>Lista de Produtos</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Categoria</th>
                <th>Descrição</th>
                <th>Avaliação</th>
                <th>Preço</th>
                <th>Qtd. Estoque</th>
                <th>Criado em</th>
                <th>User</th>
                <th>Ações</th>
            </tr>
        </thead>


    <tbody>

        {% for product in products%}
        <tr>
            <td>{{product.get_id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.category}}</td>
            <td>{{product.description}}</td>
            <td>{{product.rating}}</td>
            <td>{{product.price}}</td>
            <td>{{product.countInStock}}</td>
            <td>{{product.createdAt}}</td>
            <td>{{product.user}}</td>
            <td>
                <a href="{% url 'product-update' product.pk %}"></a><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'product-detail' product.pk %}"><i class="bi bi-eye"></i></a>
                <a href="{% url 'product-delete' product.pk %}"><i class="bi bi-trash"></i></a>
            </td>
            
        </tr>

        {% empty%}
        <tr>
            <td colspan="10"> Nenhum Produto Encontrado</td>
        </tr>

        {% endfor%}

    </tbody>

</table>
{% endblock conteudo%}
