{% extends 'components/base.html' %}

{%load static%}

{% block title %} Lista de Produtos {% endblock title %}

{% block conteudo %}


    <main>

        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <p class="lead text-body-secondary">E-commerce Vende+</p>
              <p>
                <a href="{% url 'product-create'%}" class="btn btn-primary my-2">Adicionar Produtos</a>
              </p>
            </div>
          </div>
        </section>
        
        <div class="album py-5 bg-body-tertiary">
          <h1 class="fw-light">  Lista de Produtos</h1>
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for product in products%}
              <div class="col">
                <div class="card shadow-sm" style=" 
                height: 400px;">

                  {% if product.image %}
                  <img src="{{ product.image.url }}" alt="{{ product.titulo }}" style=" 
                  height: 250px;
                  object-fit: contain;"
              >

                  {% else%}

                  <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" style=" 
                  height: 250px;
                  object-fit: contain;"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                  {% endif%}

                  <div class="card-body text-center">
                    <p class="card-text my-0"> <strong>{{product.name}}</strong></p>
                    <p class="card-text my-0"> {{product.description}}</p>
                    <p class="card-text my-0 text-muted">  <strong>R$ {{product.price}}</strong></p>
                    <div class="d-flex justify-content-center ">
                      <div class="btn-group w-50 ">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'product-update' product.pk %}"><i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'product-detail' product.pk %}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'product-delete' product.pk %}"><i class="bi bi-trash"></i></a>

                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
              {% empty%}
              <div>
                  <div colspan="10"> Nenhum Produto Encontrado</div>
              </div>
      
              {% endfor%}
      
    
            </div>
          </div>
        </div>
      
      </main>
  
      

        

    


{% endblock conteudo%}
